:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  font-weight: 800;
  color-scheme: light dark;
  color: #ffffff;
  --background-color: #0f0f0f;
  background-color: var(--background-color);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --prim: #d850fc;
  --sec: #fac4ff;
  --gray: #ffffff0a;
  --lightGray: #ffffff07;
  --hoverBackground: rgba(250, 196, 255, 0.25);
  --outlineBorder: 2px solid rgba(255, 255, 255, 0.16);
  --hoverBorder: 2px solid var(--prim);
  --hoverBlur: drop-shadow(0px 0px 4px rgba(250, 196, 255, .5));
  --hoverTransition: 300ms background-color ease-in-out, 300ms border ease-in-out;
}

body,
html {
  overflow-x: hidden;
  margin: 0;
  display: grid;
  place-content: center;
}
.container {
  padding: 0 10vw;
  display: grid;
  place-content: center;
}

h1 {
  font-size: 5em;
  line-height: 1.1;
  margin: 0;
  text-align: center;
}
h2 {
  font-size: 2em;
  margin: 0;
  font-weight: 800;
}
.logo {
  font-size: 1.5em;
}
.logo:hover h2 {
  opacity: 1;
  color: var(--prim);
  box-shadow: 0 0 2px var(--sec);
  cursor: pointer;
}
.line hr {
  background-color: var(--gray);
  height: 2px;
  border: none;
}
p {
  font-family: Inter, sans-serif;
  font-size: 1.4em;
  font-weight: 400;
  margin: 0;
  color: #ffffffdd;
}

/* button */
button {
  border-radius: 18px;
  border: none;
  padding: 8px 24px;
  min-width: 180px;
  min-height: 72px;
  font-size: 1.5em;
  font-weight: 500;
  text-align: left;
  font-family: inherit;
  color: #ffffff;
  background-image: linear-gradient(to right, var(--prim), var(--sec));
  transition: box-shadow 200ms ease-in-out;
  width: fit-content;
  cursor: pointer;
  white-space: nowrap;
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  align-items: center;
  grid-gap: 4px;
}
button:hover {
  box-shadow: 0 0 12px #ff56ffad;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px solid var(--prim);
}
.btn-primary {
  margin-top: 2vh;
}

/* formatting */

.head-contain {
  display: grid;
  place-content: center;
  align-items: center;
  justify-items: center;
  grid-gap: 32px;
  padding: 0 8vw;
  height: 100vh;
}
.text-contain {
  display: grid;
  align-items: center;
  justify-items: center;
}
.head-contain p {
  text-align: center;
  line-height: 1.8;
}
.choose {
  display: grid;
  grid-auto-flow: column;
  gap: 22px;
  margin: 28px 0;
  width: fit-content;

  place-content: center;
}
.choose-contain {
  width: 100%;
  align-items: center;
  justify-items: center;
  display: grid;
}
.option {
  background-color: var(--gray);
  border: 3px solid var(--gray);
  backdrop-filter: blur(8px);
  width: 100px;
  min-width: 100px;
  padding: 16px 24px;
  border-radius: 20px;
  text-align: center;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}
.option:hover {
  /* box-shadow: 0 0 8px #ff56ff71; */
  cursor: pointer;
  background-color: #ffffff18;
}
/* continaers */
.main-contain {
  display: grid;
  place-content: center;
  padding: 48px;
  border-radius: 36px;
  gap: 36px;
  border: 4px solid var(--gray);
}
.feeling-contain {
  border: var(--outlineBorder);
  border-radius: 100px;
  padding: 8px 36px;
  display: grid;
  grid-auto-flow: column;
  grid-gap: 8px;
  justify-items: center;
  align-items: center;
  transition: box-shadow 200ms ease-in-out;
}
.feeling-contain p {
  font-size: 1.2em;
}
.feeling-contain span {
  background-color: (121deg, #d850fc, #f192e5);
}
.feeling-contain:hover {
  background-color: var(--gray);
  cursor: pointer;
  box-shadow: 0 0 8px var(--prim);
}
.input-contain {
  max-width: 600px;
}
.input-item {
  margin: 5vh 0;
}
/* navigation */
.navContain {
  display: grid;
  place-content: center;
  padding: 12px 0;
  top: 0;
  height: 6vh;
  backdrop-filter: blur(8px); /* Adjust the blur value as needed */
  background-color: #0f0f0f14;
  border-bottom: 2px solid #ffffff0e;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}
/* results formating*/
.resultContain {
  border: 10px solid gray;
}
.header-contain {
  display: grid;
  place-content: center;
  align-items: center;
  justify-items: center;
  grid-template-columns: auto;
  gap: 28px;
}

/* components */

.tag {
  background-color: var(--hoverBackground);
  color: var(--sec);
  font-weight: 300;
  padding: 8px 18px;
  white-space: nowrap;
  border-radius: 12px;
  width: fit-content;
}
/* forms */
form input {
  background-color: var(--background-color);
  border: var(--outlineBorder);
  border-radius: 18px;
  padding: 22px;
  font-size: 18px;
  color: var(--outlineBorder);
  width: 100%;
  transition: var(--hoverTransition);
}
form input:hover, form input:focus {
  border: var(--hoverBorder);
  filter: var(--hoverBlur);
  cursor: pointer;
  outline: none;
}
/* filter tags */
.filters-contain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  
}
.filter-item {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
  width: fit-content;
  place-content: center;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  border: var(--outlineBorder);
  border-radius: 12px;
  transition: var(--hoverTransition);
  white-space: nowrap;
}
.filter-item:hover {
  border: var(--hoverBorder);
  filter: var(--hoverBlur);
  cursor: pointer;
}
.filter-head-contain {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  width: fit-content;
  align-items: center;
}
/* tooltip elemets */
.tooltip-contain {
  font-size: 16px;
  opacity: .5;
}
.tooltip-contain:hover {
  cursor: pointer;
}
.tooltip-div {
  position: absolute;
  transform: translateX(14vw) translateY(14vh);
  border-radius: 20px;
  border: var(--outlineBorder);
  padding: 22px;
  width: fit-content;
  background-color: var(--background-color);
  display: grid;
  gap: 18px;
}
.tooltip-element-contain {
  display: grid;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  
  gap: 8px;
  padding: 8px 12px;
  width: calc(100% - 20px);
  border-radius: 12px;
  background-color: var(--gray);
}
.tooltip-div h3{
  font-size: 16px;
  margin: 0;
}
.tooltip-element-contain p {
  font-size: .8em;
  font-weight: 200;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
